@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');


    *{
        margin: 0;
        padding: 0;
        /* background-color: green; */
    }

    .logo {
        font-size: 50px;
    }

     .custom-btn{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        background: #fbaf32;
        border: 2px solid #fbaf32;
        border-radius: 5px;
        transition: .4s;
    } 

 

    .carousel-item{
        height: 100vh;
        background :no-repeat scroll center scroll;
        background-size: cover;
        background-attachment: fixed;
    }

    .carousel-caption{
        margin-bottom:120px ; 
    }

    .carousel-item::before{
        position: absolute;
        display: block;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0.7;
    }

    .carousel-caption h1{
        font-family: 'Nunito', sans-serif;
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
    }

    .carousel-caption p{
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-bottom: 35px;
    }

    .carousel-caption span{
        color: #fbaf32;
    }

    .custom-btn:last-child{
        margin-left: 10px;
        background: #719a0a;
        border-color: #719a0a;
       
    }

    .custom-btn:hover{
        border: 2px solid #fbaf32 ;
        color: #fbaf32;
        border-radius: 5px;
        background-color: transparent;
    }

     .custom-btn:hover:last-child{
        color: #719a0a;
        border: 2px solid #719a0a;
        border-radius: 5px;
    }

    /* 2nd part */

    .booking-content{
        padding: 45px 0 15px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left
    }

    .header{
        margin-bottom: 30px;
    }

    .header p{
        color: #719a0a;
        margin-bottom: 5px;
        position: relative;
        font-size: 20px;
        margin-top: 20px;
    }

    .header h2{
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
        font-weight: 800;
    }

    .booking-form{
        padding: 60px 30px;
        background: #fbaf32;

    }

    .input-group{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .input-group input{
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    }

    .book-btn{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 5px;
        width: 100%;
        color: #fbaf32;
        background: #fff;
        border: 1px solid #fff;
        transition: .5s;
    }

    .book-btn:hover{
        border: 2px solid #ffffff ;
        color: #ffffff;
        border-radius: 5px;
        background-color: transparent;
    }

    .custom-btn1{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        background: #fbaf32;
        border: 2px solid #fbaf32 ;
        border-radius: 5px;
        transition: .4s;
    }

    .custom-btn1:hover{
        border: 2px solid #fbaf32 ;
        color: #fbaf32;
        border-radius: 5px;
        background-color: transparent;
    }
    .feature-text{
        position: relative;
        width: 100%;
    }

    .feature-img{
        border-radius: 15px;
        margin-bottom: 25px;
        overflow: hidden;
    }

    .book-btn1{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 5px;
        width: 100%;
        color: #fff;
        background: #fbaf32;
        border: 1px solid #fff;
        transition: .5s;
    }

    .book-btn1:hover{
        border: 2px solid #fbaf32 ;
        color: #fbaf32;
        border-radius: 5px;
        background-color: transparent;
    }

    .feature-item{
        padding: 40px 10px;
    }

    .fa-hamburger{
        color: #fbaf32;
        font-size: 50px;
        text-align: center;
    }

    .feature-img:hover{
        transform: skew(0.5);
       
    }


    .recipe{
        background-color: #efefef;
    }

    .fa-wine-glass-alt{
        color: #fbaf32;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .fa-wine-glass-alt:hover{
        color: #719a0a;
        transform: rotate(360deg);
        transition: .5s;
    }

    .fa-hamburger{
        color: #fbaf32;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-hamburger:hover{
        color: #719a0a;
        transform: rotate(360deg);
        transition: .5s;
    }

    .fa-cookie{
        font-size: 50px;
        color: #fbaf32;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-cookie:hover{
        color: #719a0a;
        transform: rotate(360deg);
        transition: .5s;
    }

    .box{
     width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: .5s;
    }

     .text h6{
         color: #fbaf32;
         font-size: 20px;
    } 

    .text h6:hover{
        color: #719a0a;
    }

    .text h2{
        font-weight: bold;
    }

    .head p{
        color: #719a0a;
        margin-bottom: 5px;
        position: relative;
        font-size: 20px;
        margin-top: 100px;
    }

    .head h2{
        font-family: 'Nunito', sans-serif;
        font-size: 45px;
        font-weight: 800;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }

    .menu-btn{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        background: #fbaf32;
        border: 2px;
        border-radius: 5px;
        transition: .4s;
        margin-bottom: 20px;
        margin:0 20px;
    }
    .menu-btn1{
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 800;
        color: #fff;
        background: #719a0a;
        border: 2px;
        border-radius: 5px;
        transition: .4s;
        margin-bottom: 20px;
        margin:0 20px;

    }

    .menu-btn:hover{
        background: #719a0a;

    }

    .delicious-menu{
        margin-top: 70px;
    }

    .menu-item{
        position: relative;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
    }

    .menu-img{
        width: 80px;
        margin-right: 20px;
    }

    .menu-img img{
        border-radius: 100%;
        width: 100%;
    }

    .big-img img{
        border-radius: 5px;
        object-fit: cover;
    }

    .chef{
        position: relative;
        margin-bottom: 30px;
        background: #fff;
    }

    .chef-img{
        position: relative;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
    }

    .chef-img img{
        position: relative;
        width: 100%;
        margin-top: 15px;
        transform: scale(1.1);
        object-fit: cover;
        filter: brightness(0.5) grayscale(100);
        transition: 0.3s ease-in-out;
    }

    .chef-img:hover img{
        filter: brightness(1) grayscale(0);
    }



    img{
        vertical-align: middle;
        border-style: none;
    }

    .chef-text{
        position: relative;
        padding: 25px 15px;
        text-align: center;
        background: #fff;
        border: 1px solid rgba(0,0,0,.07);
        border-top: none;
        border-radius: 0 0 15px 15px;
    }

    .chef-text h2{
        font-size: 22px;
        font-weight: 700;
    }

    .chef-sec{
        margin-top: 70px;
    }

    .imgBox img{
        border-radius: 50%;
    }

    .name{
        font-size: 20px;
        font-weight: 300;
    }

    .contact-item{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }

    .fa-map-marker-alt{
        font-size: 60px;
        color: #fbaf32;
    }

    .fa-phone-alt{
        font-size: 60px;
        color: #fbaf32;
    }

    .fa-envelope{
        font-size: 60px;
        color: #fbaf32;
    }

    .fa-share{
        font-size: 60px;
        color: #fbaf32;
    }



    .contact-text h4{
        color: #719a0a;
        font-size: 20px;
    }

    .contact-img{
        width: 50px;
        margin-right: 30px;
    }

    .contact-icon{
        display: flex;
        align-items: center;
        font-size: 25px;
        color: #fbaf32;
        
    }

    .fa-facebook-f{
        margin-right: 20px;
    }

    .fa-instagram-square{
        margin-right: 20px;
    }

    .fa-linkedin{
        margin-right: 20px; 
    }

    .contact{
        margin-top: 70px;
        padding: 0 30px;
        margin-bottom: 50px;
        background-color: #efefef;
    }

    .contact-form{
        padding: 60px 30px;
        
    }

    textarea{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 300;
    }

    .custom-btn1 {
        text-decoration: none;
    }

    .blog-img img{
        position: relative;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        z-index: 1;
    }

    .blog-content{
        position: relative;
        width: 90%;
        top: -60px;
        left: 30px;
        padding: 25px 30px 30px 30px;
        background: #fff;
        box-shadow: 0 0 30px rgb(0 0 0 / 8%);
        border-radius: 15px;
        z-index: 2;
    }

    .navbar-brand{
        font-size: 800px;
        font-weight: bold;
    }
